img{
}
.social_links{
    text-align: center;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
}
body{
background-color: hsl(0, 0%, 8%);
}

#main{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

p{
    text-align: center;
    color: hsl(75, 94%, 57%);
}

.attribution{
    text-align: center;
    color: hsl(0, 0%, 100%);
}

a{
    color:aqua ;
}

h1,h3{
    text-align: center;
    color: hsl(0, 0%, 100%);
}