.x{
    text-align: center;
    color: hsl(0, 0%, 100%);
}

a {
    padding: 10px ;
    border: 1px;
    margin: 5px;
    padding: 10px;
}

#social_links {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    background-color: hsl(0, 0%, 20%);
}
body{
background-color: hsl(0, 0%, 8%);
}

#main{
    background-color: hsl(0, 0%, 12%);
    font-size: 14px;
}

.attribution{
    margin: 10px;
}

p{
    color: hsl(75, 94%, 57%);
}